.but {
display: inline-block;
background-color: black;
color: white;
padding: 10px 50px;
width: 285px;
text-decoration: none;
box-sizing: border-box;
font-family: Helvetica, Arial, sans-serif;
font-size: 24px;
border: 0px;
}

